body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  overflow: hidden;
}

/* optional Container STYLES */
.chart-container {
  position: relative;
  width: 100%;
  height: 600px;
}
.chart {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  border: 3px solid #ddd;
  box-sizing: border-box;
}
.node {
  color: #fff;
  background-color: #4057b2;
  border-radius: 3px;
  padding: 10px 16px;
  height: fit-content;
  width: min-content; /* breaks on words by default, use nbsp (\u00a0) if necessary */
  text-align: center;
}
.node.with-icon {
  width: fit-content;
}
.node p {
  font-size: 16px;
  line-height: 20px;
  /* padding: 8px 0; */
  margin: 0;
  display: inline;
}
.node.block p {
  display: block;
}

.node img {
  margin-right: 5px;
  margin-top: -2px;
  margin-bottom: -2px;
  display: inline;
}

.bg-gray {
  background-color: #808287;
}
